<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection,               EntityFramework, Version=6.0.0.0, Culture=neutral" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SampleContext2" connectionString="server=0.tcp.ngrok.io;port=14160;user id=root;password=root;database=kek;persistsecurityinfo=True;Integrated Security=True;SslMode=none"
      providerName="MySql.Data.MySqlClient" />
    <add name="SampleContext"
      connectionString="server=0.tcp.ngrok.io;user id=root;password=root;database=web;persistsecurityinfo=True;port=14160;pipe=2223"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.24.0, Culture=neutral"/>
 
      
    </providers>
  </entityFramework>
</configuration>

